
.pg1 {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  padding: 0 2vw;
  box-sizing: border-box;
}

#page1 {
  min-height: 100vh;
  width: 100%;
  background-color: #0d0d0d;
  position: relative;
  margin-top: 0;
}

#center {
  height: 65vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 0;
}

#left h3 {
  width: 25vw;
  font-size: 1.8vw;
  line-height: 2vw;
  color: #EFEAE3;
  font-family: Syne, sans-serif;
}

#right h1 {
  font-size: 10vw;
  text-align: right;
  line-height: 8vw;
  color: #EFEAE3;
}

#hero-shape {
  position: absolute;
  width: 46vw;
  height: 36vw;
  right: 0;
  top: 65vh;
}

#hero-1 {
  background-color: #375ad7;
  height: 100%;
  width: 100%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  filter: blur(30px);
  position: absolute;
}

#hero-2 {
  background: linear-gradient(#1246ff, #0737e3);
  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  position: absolute;
  animation-name: anime2;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  filter: blur(25px);
}

#hero-3 {
  background: linear-gradient(#0737E3, #0737e3);
  height: 30vw;
  width: 29vw;
  border-radius: 50%;
  position: absolute;
  animation-name: anime1;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  filter: blur(25px);
}

@keyframes anime1 {
  from {
    transform: translate(55%, -3%);
  }
  to {
    transform: translate(0%, 10%);
  }
}

@keyframes anime2 {
  from {
    transform: translate(5%, -5%);
  }
  to {
    transform: translate(-20%, 30%);
  }
}

#page1 video {
  position: relative;
  border-radius: 30px;
  margin-top: 4vw;
  width: 100%;
  z-index: 9;
}

@media (min-width: 1440px) {
  #center {
    height: 65vh;
  }
  #hero-shape {
    /* display: none; */
    margin-right: 25%;
  }
  #hero-1 {
    margin-top: 120px;
    width: 85%;
    height: 170%;
  }
  #hero-2, #hero-3 {
    margin-top: 70px;
    display: none;
  }
  #right h1{
    font-size: 8rem;
    line-height: 8vw;
    padding-bottom: 200px;
    text-align: justify;

  }
#left h3 {
        font-size: 2rem;
        line-height: 3.5vw;
        width: 40vw;
 }
}
@media (min-width: 2048px) {
    #right h1{
        line-height: 5vw;
    }
     #left h3 {
    font-size: 3rem;
    line-height: 1.5vw;
  }
    
}

@media (max-width: 1439px) {
  #center {
    height: 70vh;
  }
}

@media (max-width: 1024px) {
  #center {
    height: 60vh;
  }
}

@media (max-width: 768px) {
  #center {
    height: 48vh;
  }
}

@media (max-width: 600px) {
  #page1 {
    min-height: 100vh;
    width: 100vw;
    padding: 0;
    padding-top: 10px;
  }

  .pg1 {
    padding: 0 5vw;
  }

  #center {
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid #0000003c;
    padding: 7vw 0;
    padding-bottom: 10vw;
    flex-direction: column-reverse;
    position: relative;
    z-index: 9;
  }

  #left h3 {
    padding-top: 12px;
    width: 80%;
    font-size: 5vw;
    line-height: 6vw;
    color: #EFEAE3;
  }

  #right h1 {
    font-size: 13vw;
    text-align: justify;
    line-height: 13vw;
    color: #EFEAE3;
    padding-top: 110px;
  }

  #page1 video {
    position: relative;
    border-radius: 15px;
    margin-top: 4vw;
    height: 70vh;
    object-fit: cover;
    object-position: center;
    width: 92%;
    margin-left: 4%;
  }
}

@media (max-width: 480px) {
  #center {
    height: 45vh;
  }

  #right h1 {
    padding-top: 75px;
    font-size: 15vw;
  }

  #left h3 {
    font-size: 5vw;
  }
}
