#page2 {
  background-color: #0d0d0d;
  padding: 4vw 6vw;
  position: relative;
  overflow: hidden;
}

#moving-text {
  overflow-x: auto;
  white-space: nowrap;
}

#moving-text::-webkit-scrollbar {
  display: none;
}

.con {
  white-space: nowrap;
  display: inline-block;
  animation: move 10s linear infinite;
}

#moving-text h1 {
  font-size: 4vw;
  display: inline-block;
  color: #EFEAE3;
}

#gola {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: inline-block;
  background-color: #0737E3;
  margin: 1vw 2vw;
}

@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* #tabs-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5vw;
  margin-top: 6vw;
  color: white;
  font-family: Syne, sans-serif;
} */

#tabs-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5vw;
  margin-top: 6vw;
  color: white;
  font-family: Syne, sans-serif;
}

.tabs-left {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.tabs-left h2 {
  font-size: 4vw;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.25);
  margin-bottom: 1.5vw;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tabs-left h2.active {
  color: #fff;
  font-weight: 700;
}

.tab-description {
  margin-top: 2vw;
  font-size: 1vw;
  line-height: 1.6vw;
  color: #ccc;
  max-width: 90%;
  transition: opacity 0.4s ease;
}

.tabs-right {
  width: 55%;
}

.tabs-right img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  transition: opacity 0.5s ease;
}

@media (max-width: 1024px) {
  .tabs-left h2 {
    font-size: 6vw;
  }

  .tab-description {
    font-size: 2vw;
    line-height: 3vw;
  }
}

@media (max-width: 768px) {
  #tabs-section {
    grid-template-columns: 1fr 1fr; 
  }

  .tabs-left,
  .tabs-right {
    width: 100%;
  }

  .tabs-left h2 {
    font-size: 6vw;
  }

  .tab-description {
    font-size: 3vw;
    line-height: 4.5vw;
  }

  .tabs-right img {
    width: 100%;
    border-radius: 8px;
  }

  #gooey {
    display: none;
  }
}

@media (max-width: 600px) {
  #moving-text h1 {
    font-size: 15vw;
  }

  #gola {
    height: 25px;
    width: 25px;
    margin: 2vw 2vw;
  }

  #page2 {
    padding-bottom: 0;
  }
  /* #tabs-section {
    grid-template-columns: 1fr; 
  }

  .tabs-left,
  .tabs-right {
    width: 100%;
  } */
}

@media (max-width:480px) {
    #page2{
        padding-bottom: 45px;
    }
    #moving-text h1{
        font-size: 9vw;
        margin-bottom: 30px;
    }
    #gola{
        margin-bottom: 0;
    }
    
}
