nav {
  padding: 1.5vw 2vw;
  padding-bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 100;
  justify-content: space-between;
  background-color: #0d0d0d;
}

nav.scrolled {
  background-color: #0d0d0d;
}

#nav-part2 {
  display: flex;
  align-items: center;
  gap: 1vw;
}


.nav-link {
  color: #EFEAE3;
  text-decoration: none;
  position: relative;
  z-index: 9;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: 500;
  font-size: 18px;
  transition: all ease 0.4s;
  overflow: hidden;
}

.nav-link::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #EFEAE3;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.4s;
  z-index: -1;
}


.nav-link:not(.active-link):hover::after {
  bottom: 0;
  border-radius: 0;
}

.nav-link:not(.active-link):hover {
  color: #000000bb;
}


.active-link {
  background-color: white;
  color: black !important;
}


#hamburger {
  width: 30px;
  height: 22px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 101;
}

#hamburger span {
  height: 3px;
  background-color: white;
  border-radius: 2px;
  transition: 0.3s ease;
}

#hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

#hamburger.open span:nth-child(2) {
  opacity: 0;
}

#hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
@media (min-width: 601px) {
  nav{
    padding-bottom: 8px ; 
  }
  
}

@media (min-width: 2048px) {
  .nav-link{
    font-size: 30px;
  }
  .logo-img{
    width: 12vw;
  }
}

@media (max-width: 600px) {
    nav {
        padding: 5vw 5vw;
        background-color: #0d0d0d;
    }

    nav img {
        transition: all ease 0.2s;
        height: 2.5vh;
        padding-top: 1vw;
    }
    #nav-part2 {
    display: none;
  }
     #hamburger {
    display: flex;
  }
}
